
.title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding-left: 29px;
    margin-left: 0px;
}

.dept-title {
    text-align: end;
    cursor: pointer;
}

.navbar {
    font-weight: 300;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 58px;
}


ul {
    padding-left: 0;
    list-style-type: none;
}

ul >li {
    list-style-type: none;
    /* padding: 10px;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    transition: transform 0.5s; */
}

/* ul > li:hover {
    transform: scale(1.1);
    z-index: 100;
    background: #25bcff;
    box-shadow: 0 5px 25px rgba(0,0,0,.2);
    color: #fff;
} */

.container-activity {
    /* position: fixed;
    top: 19%;
    right: 0;
    left: 0;
    z-index: 1031;
    height: 62px; */
    position: fixed;
    top: 32px;
    right: 0;
    left: 0;
    z-index: 1030;
    height: 82px;
    margin-top: 28px;
    padding-left: 47px;
}

.collapsible {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin: .5rem 0 1rem 0;
}

.fa-filter, .glyphicon-search {
    font-size: 20px;
    padding-right: 9px;
    color: #3c4caa;
}

.fa-trash-o{
    font-size: 20px;
    padding-right: 9px;
    color: #e60000;
}

.btn-secondary {
    background-color: #3c4caa;
    color: #ffff;
}

.mar-zero {
    margin: 0px !important;
}

.candidate-section {
    /* position: absolute; */
    /* height: calc(90vh - 106px);
    top: 117px;
    overflow: auto;
    width: 100%; */

    height: calc(100vh - 189px) !important;
    overflow-y: auto;
    margin-top: 78px;
}

.list {
    margin-left: 20px;
    margin-right: 20px;
}

.list-name {
    padding: 15px;
    margin-bottom: 0px;
}

.border-list {
    border-bottom: 1px solid #a6a6a6;
}

.label {
    color: #a6a6a6;
    font-size: 14px;
}

.label-title {
    color: #4255bd;
    font-size: 18px;
    font-weight: 600;
}

.badge {
    color: #fff;
    min-width: 1rem;
    padding: 7px;
    height: 34px;
    /* line-height: 2; */
    font-size: 17px;
    box-shadow: 3px 4px 10px -2px rgba(0,0,0,0.75);
}

.input-group-addon {
    background-color: transparent;
    border: none;
}

.centre-display {
    text-align: center;
    font-size: 25px;
    padding-top: 42px;
    border-bottom-width: 0px;
    padding-bottom: 57px;
    color: #6877ca;
}

.list-append {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.count-dp {
    font-size: 25px;
    color: #3c4caa;
    font-style: italic;
}

.header-view {
    text-align: center;
    font-size: 18px;
    color: #737373;
}